<div>
  <nav class="navbar navbar-expand-md navbar-dark bg-white">
    <div class="navbar-collapse justify-content-center" id="collapsingNavbar">
      <a class="navbar-brand" href="#">
        <img src="https://s3-ap-southeast-1.amazonaws.com/assets.limetray.com/assets/user_images/logos/original/Pasteleria_Logo_1443681134.png"
          alt="">
      </a>
    </div>
  </nav>

  <nav class="sub-navbar navbar navbar-expand-lg navbar-light bg-cream">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/productos">Productos</a>
        <a class="nav-item nav-link" href="/nosotros">Nosotros</a>
        <a class="nav-item nav-link" href="/contacto">Contacto</a>
      </div>
    </div>
  </nav>
</div>